# SPDX-FileCopyrightText: 2025 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+

APP_ENV=local
JWT_SECRET=SECRECT_KEY_PLACEHOLDER
API_BASE_URL=https://localhost:8020
FRONTEND_URL=https://localhost:3000
KEY_PATH=../ssl-certs/key.pem
CERT_PATH=../ssl-certs/cert.pem
CA_CERT_PATH=../ssl-certs/ca-cert.pem

MSAL_CLIENT_ID=<Azure AD Application (client) ID>
MSAL_AUTHORITY=https://login.microsoftonline.com/<tenant-id>
MSAL_REDIRECT_URI=<Redirect URI for your app (e.g. `https://localhost:3000`)>
MSAL_SCOPES=api://localhost:3000/<client-id>/access_as_user
MSAL_SECRET=<Azure AD Client Secret>
