#
# SPDX-FileCopyrightText: 2025 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#

### BUILD ###

### INTELLIJ ###
*.iml
.idea

### DIRENV ###
.envrc

### OS specific ###
*.swp

### Docker ###
.DS_store

node_modules/
**/node_modules/
dist/
**/dist/
.turbo/
.vscode/
**/.vscode/
*.pem
*.srl
openzaak-database-data
