#
# SPDX-FileCopyrightText: 2025 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+
#

### BUILD ###
dist/
**/dist/

### INTELLIJ ###
*.iml
.idea

### DIRENV ###
.envrc

### ENVIRONMENT ###
.env
.env.local.frontend

### OS specific ###
*.swp

### Docker ###
.DS_store

### Node ###
node_modules/
**/node_modules/

### Custom ###
.turbo/
.vscode/
**/.vscode/
*.pem
*.srl
openzaak-database-data
generated-client
generated/types.ts
generated/zrc-types.ts
generated/drc-types.ts
/office-add-in/docker-metadata.json
/office-backend/docker-metadata.json

### Testing ###
coverage/
**/coverage/
