frontend:
  image:
    repository: ghcr.io/infonl/zgw-office-add-in-frontend
    tag: v0.2.95@sha256:d846cdc0119f3187288b2c3a7d99010ca4adff6413af919ac6f9414d3125228d
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
  # -- The frontend public URL where the manifest files and static js file are served
  frontendUrl: "http://localhost:3000"
  # -- If enabled nginx will also listen on port 443. You will need to volume map a key
  # and certificate valid for your frontendUrl
  enableHttps: false
  # -- Maximum file size for uploads (e.g. attachments)
  maxBodySize: 80M

backend:
  image:
    repository: ghcr.io/infonl/zgw-office-add-in-backend
    tag: v0.2.95@sha256:37bb5e6a0b528c00fadad45f0643baf68acc29354cd82769f9597a54dd317f0c
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 3003
  # -- Secret key used for generating and validating JWT tokens for secure communication
  jwtSecret: "SECRECT_KEY_PLACEHOLDER"
  # -- Base URL to the openzaak API
  apiBaseUrl: "http://localhost:8020"
