frontend:
  image:
    repository: ghcr.io/infonl/zgw-office-add-in-frontend
    tag: v0.2.112@sha256:8278a1b41421007bf84fa4d7e2aaeaa0c7962765ab04723af6448c22a9c1a408
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
  # -- The frontend public URL where the manifest files and static js file are served
  frontendUrl: "http://localhost:3000"
  # -- If enabled nginx will also listen on port 443. You will need to volume map a key
  # and certificate valid for your frontendUrl
  enableHttps: false
  # -- Maximum file size for uploads (e.g. attachments)
  maxBodySize: 80M

backend:
  image:
    repository: ghcr.io/infonl/zgw-office-add-in-backend
    tag: v0.2.112@sha256:b9050278957ed8e37aa3ce93d4397b22a673872596d0d69aa5f06e9b34e0f98f
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 3003
  # -- Secret key used for generating and validating JWT tokens for secure communication
  jwtSecret: "SECRECT_KEY_PLACEHOLDER"
  # -- Base URL to the openzaak API
  apiBaseUrl: "http://localhost:8020"
