# SPDX-FileCopyrightText: 2024 INFO.nl
# SPDX-License-Identifier: EUPL-1.2+

name: Helm chart linting and testing

on:
  pull_request:
  merge_group:
  workflow_dispatch:

permissions:
  contents: write
  checks: write

# Only allow a single concurrent run per branch. Cancel in-progress runs on multiple pushes when not on main branch.  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

jobs:
  helm-lint:
    runs-on: ubuntu-24.04
    outputs: 
      changed: ${{ steps.list-changed.outputs.changed }}
      needsbump: ${{ steps.testbump.outputs.needsbump }} 
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v4.0.5 # helm version updated by renovate

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          else 
            echo "changed=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --validate-maintainers=false

      - name: Test if chart version needs bump
        id: testbump
        if: ${{ always() && steps.list-changed.outputs.changed == 'true' && github.event_name == 'pull_request' }}
        run: |
          set +e
          ct lint --target-branch ${{ github.event.repository.default_branch }} | grep -q 'chart version not ok. Needs a version bump!'
          needsBump=$?

          if [ $needsBump -eq 0 ]; then
            echo "needsbump=true" >> "$GITHUB_OUTPUT"
          else
            echo "needsbump=false" >> "$GITHUB_OUTPUT"
          fi

  helm-test:
    runs-on: ubuntu-24.04
    needs: helm-lint
    if: ${{ needs.helm-lint.outputs.changed == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build Frontend Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: ./office-add-in/Dockerfile
          context: .
          push: false
          load: true
          tags: ghcr.io/infonl/zgw-office-add-in-frontend:test

      - name: Build Backend Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: ./office-backend/Dockerfile
          context: .
          push: false
          load: true
          tags: ghcr.io/infonl/zgw-office-add-in-backend:test

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v4.0.5 # helm version updated by renovate

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Load Docker images into KIND
        run: |
          kind load docker-image ghcr.io/infonl/zgw-office-add-in-frontend:test --name chart-testing
          kind load docker-image ghcr.io/infonl/zgw-office-add-in-backend:test --name chart-testing

      - name: Run chart-testing (install)
        run: |
          ct install --target-branch ${{ github.event.repository.default_branch }} \
            --helm-extra-set-args "--set frontend.image.tag=test --set frontend.image.pullPolicy=Never --set backend.image.tag=test --set backend.image.pullPolicy=Never"

  bump-chart:
    runs-on: ubuntu-24.04
    needs: helm-lint
    if: ${{ failure() && needs.helm-lint.outputs.needsbump == 'true' && github.event_name == 'pull_request' }}
    steps:
      # To allow pushing to PR branch (needed for next step) we need to be on the pr branch
      - name: Checkout PR branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.WORKFLOW_HELM_CHART_BUMP_GITHUB_PAT }}

      # Bump Chart version and push to PR branch with personal token (to retrigger workflow)
      - name: Test if chart version needs bump
        run: |
          pip install pybump==1.12.6
          pybump bump --file charts/office-add-in/Chart.yaml --level patch
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "bumped helm chart"
          git push

  helm-docs:
    runs-on: ubuntu-24.04
    needs: helm-lint
    if: ${{ needs.helm-lint.outputs.changed == 'true' && github.event_name == 'pull_request' }}
    steps:
      # To allow pushing to PR branch (needed for next step) we need to be on the pr branch
      - name: Checkout PR branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.WORKFLOW_HELM_CHART_BUMP_GITHUB_PAT }}

      - name: Generate updated helm docs if needed and on PR
        uses: losisin/helm-docs-github-action@a57fae5676e4c55a228ea654a1bcaec8dd3cf5b5 # v1.6.2
        with:
          git-push: true
